{{ template "header" }}
<div class="flex flex-col items-center h-screen">
<a href="/">
<button type="button" class="text-inherit text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
    <span class="hover-underline-animation">Back</span>
</button>
</a>
<!-- <p class="text-white text-center text-3xl fontmain font-bold"><a class="underline text-cyan-300" href="/">back</a></p> -->
<div class="flex flex-col items-center justify-center h-screen">
    <div>
        <p class="text-white text-center text-6xl fontmain font-bold">INNERSPEAKER</p>
    </div>
</div>
</div>
{{ template "footer" }}
