{{ template "header" }}
<div class="flex flex-col text-white text-center items-center justify-center h-screen">
    <div>
        <p class="text-6xl fontmain font-bold">INNERSPEAKER</p>
        <p class="text-3xl">soon</p>
        <p class="text-3xl"><a class="underline text-cyan-300" href="/"><br>back</a></p>
    </div>
</div>
{{ template "footer" }}
