@import "tailwindcss";

.fontmain {
    font-family: times, Times New Roman, times-roman, georgia, serif;
	margin: 0;
	padding: 0px 0px 12px 0px;
	line-height: 44px;
	letter-spacing: -2px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: transform 0.25s ease-out;
    transform-origin: bottom center;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}
